*[color="red"] {
    color: red;
}
*[color="orange"] {
    color: orange;
}
*[color="yellow"] {
    color: yellow;
}
*[color="green"] {
    color: green;
}
*[color="blue"] {
    color: blue;
}
*[color="indigo"] {
    color: indigo;
}
*[color="violet"] {
    color: violet;
}
*[color="darkred"] {
    color: darkred;
}
*[color="darkorange"] {
    color: darkorange;
}
*[color="darkyellow"] {
    color: darkgoldenrod;
}
*[color="darkgreen"] {
    color: darkgreen;
}
*[color="darkblue"] {
    color: darkblue;
}
*[color="darkindigo"] {
    color: #230219;
}
*[color="darkviolet"] {
    color: darkviolet;
}
*[color="lightred"] {
    color: #f9152f;
}
*[color="lightorange"] {
    color: lightorange;
}
*[color="lightyellow"] {
    color: lightyellow;
}
*[color="lightgreen"] {
    color: lightgreen;
}
*[color="lightblue"] {
    color: lightblue;
}
*[color="lightindigo"] {
    color: #876bdc;
}
*[color="lightviolet"] {
    color: #c975e6;

